<%= link_to("return to index", {:action =>'index'}, :class=> 'back_index')%>

<body class="pg_b">
    <div id='test'>
<p class="headers">DELETE PERSON</p>
<%= form_for(:person, :url=> {:action => 'destroy',:id=>@person.id}) do |i| %>
<%= submit_tag("delete")%>
<%end%> 
</div> 
</body>