
<%= link_to("return to index", {:action =>'index'}, :class=> 'back_index')%>

<body class="pg_b">
<div id='test'>


<p class="headers"> EDIT PERSON </p> 
<%= form_for(:person, :url=> {:action => 'update', :id => @person.id}) do |i| %>

 <table summary="Person form fields">
   <tr>
     <th>Name</th>
     <td><%= i.text_field(:name) %></td>
   </tr>
   <tr>
     <th>Color</th>
     <td><%= i.text_field(:color) %></td>
   </tr>
   <tr>
     <th>Weight</th>
     <td><%= i.number_field(:weight) %></td>
   </tr>
   <tr>
     <th>Height</th>
     <td><%= i.number_field(:height) %></td>
   </tr>
   <tr>
     <th>sex</th>
     <td><%= i.text_field(:sex) %></td>
   </tr>
 </table>
 
<div class="form-buttons">
 <%= submit_tag("Edit ")%>
</div>
<%end%>


</div>
</body>