
<body class="pg_b">
 <p class="headers">PEOPLE INDEX</p>
<div id="test">



<%= link_to("new person", {:action =>'new'}, :id=> 'new_person')%>

<table class="listing" summary="People list">
   <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Weight</th>
      <th>Height</th>
       <th>sex</th>
      <th>Actions</th>
     
    </tr>
    <div id="listing"
     <% @people.each do |person|%>
     <tr class="atribts">
       <td><%= person.name %></td>
       <td><%= person.color %></td>
       <td><%= person.weight %></td>
       <td><%= person.height %></td>
       <td><%= person.sex %></td>
       <td class="actions">
       <%= link_to("Edit", {:action => 'edit', :id => person.id},:class=> 'actions') %>
       <%= link_to("Delete", {:action =>'delete', :id => person.id},:class=> 'actions') %>
       <%= link_to("Show", {:action =>'show'},:class=> 'actions')%>
     </td>
    </div>
  </tr>
 <% end %>
 
 </table>
</div>





 <% @people.each do |person|%>
       <div id="display" style= "background-color:<%= person.color %>; float:left; height:<%= person.height %>px; width:<%= person.weight %>px;">
      <p style="text-align:center;" > <%= person.name %></p> 
  
    </div>
   <%end%>
   
   </body>