
<body class="pg_b">
    
 <%= link_to("return to index", {:action =>'index'}, :class=> 'back_index')%>   
    <div id='test'>
<p class="headers">TOTAL PEOPLE</p>




<table class="listing" summary="People list">
   <tr >
     <th>Name</th>
     <th>Color</th>
     <th>Weight</th>
     <th>Height</th>
     <th>sex</th>
  </tr>
   <div id="listing"
   <% @people.each do |person|%>
   <tr class="atribts">
     <td><%= person.name %></td>
     <td><%= person.color %></td>
     <td><%= person.weight %></td>
     <td><%= person.height %></td>
     <td><%= person.sex %></td>
 </div>
 </tr>
 <% end %>
 
</table>


</body>