// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back_index{
    position:absolute;
    left:20px;
    color:red;
}
#new_person{
    color:#698224;
}
.actions{
    color:#698224;
}
th{
    color:white;
}
.atribts{
    color:#D1D956;
}
#display{
    position:relative;
    top:400px;
     padding: 5px 20px;
}

#test{
    font-size:1em;
    position:absolute;
    left: 450px;
    top:250px;
   // background-color:#532146;
    //border: solid black 2px;
    
    width:500px;
}
#indexp{
    background-color:#6386FA;
}
.pg_b{
    background-color:#293365;
}
.form-buttons{
     color:white;
     position:absolute;
     left: 80px;
     top:220px;
     
}
.headers{
    color:white;
    font-weight: bold;
    font-size: 30px;
}


